body {
  font-family: sans-serif;
}

body form, .log {
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

body form header {
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
}

body > main > div {
  margin-bottom: 1em;
  background: #eee;
  padding: 1em;
}

body > main > div > header {
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #aaa;
}

body {
  display: flex;
}

body > main {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin-right: 1em;
}

.log {
  width: 600px;
  margin-right: 1em;
  display: flex;
  flex-flow: column;
}

.log textarea { height: 400px; }
